@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @RenderSection("Head", false)
        @RenderSection("Css", false)
    
        @Scripts.Render("~/bundles/universal")
        @RenderSection("Scripts", false)
    </head>
<body>
    <div>
        @RenderBody()
    </div>
    
    @RenderSection("JavaScript", false)
</body>
</html>
